.TranslatePage .Translation {
    font-family: "Libre Baskerville", serif;
    font-size: 90%;
    font-weight: bold;
    white-space: pre-wrap;
}

.TranslatePage hr {
    border: none;
    height: 1px;
    background: #AAA;
    margin-left: 40px;
    margin-right: 40px;
}
